<head>
    <meta charset="utf-8" />
    <title>Carbon Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="https://wallabyway.github.io/floor-animation/skeleton.min.css">
    <link rel="shortcut icon" href="#">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.6/vue.min.js"></script>
    <style>
      #urn button, #token button, #scene button {
        height: 1.7em;
        padding: 0.3em;
        line-height: 0;
        font-weight: inherit;
        text-transform: none;
      }
      .item {margin:0; padding-left: 5px;}
      ul { margin-top:0; }
      ul > li > .item:hover {background-color:lightgray; cursor: pointer;}
      ul > li > .item:active {border:1px solid gray;}
      #toast {padding:15px; color:white; z-index:2;position:fixed; bottom:20px; right:20px; width:400px; border-radius:15px; background-color:blue;}
      .invisible {visibility: hidden;}
    </style>
  
      <script type="text/x-template" id="item-template">
        <li>
          <div
          class="item"
            :class="{bold: isFolder}"
            @click="toggle">
            <span v-if="isFolder">{{ isOpen ? '&#9660;' : '>' }}</span> <b> {{ item.filename }} (v{{ item.version }})</b>&emsp;{{ item.datetime }}</b>
          </div>
  
          <ul v-show="isOpen" v-if="isFolder">
            <tree-item
              class="item"
              v-for="(child, index) in item.children"
              :key="index"
              :item="child"
              @on-select="$emit('on-select', $event)"
            ></tree-item>
          </ul>
        </li>
      </script>  
  </head>
  
  <body style="margin:0;overflow: hidden;">
    <div id="app">
        <div class="container">
          <nav class="navbar">
            <div class="container">
              <ul class="navbar-list">
                <li class="navbar-item"><img class="navbar-img" src="https://wallabyway.github.io/floor-animation/logo.png"/></li>
                <li class="navbar-item"><button @click="loginlogout()" class="navbar-button button-primary">{{ !this.token ? 'Login' : 'Logout' }}</button></li>
                <li class="navbar-item"><div id="toast" :class="{ invisible: !istoast }">{{toastmsg}}</div></li>
                
                <li class="navbar-itemr"><a href="https://github.com/wallabyway/compositeLayersExtractor"><button class="navbar-button">GitHub</button></a></li>
                <li class="navbar-itemr"><a href="/carbons"><button class="navbar-button button-primary">carbons</button></a></li>
                <li class="navbar-itemr"><a href="/urns"><button class="navbar-button button-primary">urns</button></a></li>
                <li class="navbar-itemr"><a href="/jobs"><button class="navbar-button button-primary">jobs</button></a></li>
              </ul>
            </div>
          </nav>
        </div>
          <!-- just use a number and class 'column' or 'columns' -->
        <div class="container" >
        <div class="row">

          <!-- Tree View -->
          <div class="three columns">
            <label for="example2">BIM360 Project</label>
            <input class="u-full-width"  v-model="form.srcURN" placeholder="https://docs.b360.autodesk.com/projects/113d171e-2a5e...62eb0da3f5/folders/urn:adsk.wipprod:fs.folder:co.LQ1fMEW...teMw/detail">
            <tree-item class="item" :item="treeData" @on-select="onClickItem" ></tree-item>
          </div>
  
          <!-- Forge Viewer -->
          <div class="nine columns" style="background-color:lightgray; height:100%">
            <div id="forgeviewer"></div>
          </div>
        </div>
      </div>
  
  </div>
  </body>
  <script src="https://autodeskviewer.com/viewers/latest/viewer3D.min.js"></script>
  <link href="https://autodeskviewer.com/viewers/latest/style.min.css" type="text/css" rel="stylesheet">
  <script src="app.js"></script>
  <script type="module" src="extensions/HistogramExtension.js"></script>